<template>
  <div id="app">
    <!-- ToDo create Autocomplete -->
    <!--<Autocomplete :items="items" />-->
  </div>
</template>

<script lang="ts">
import Vue from 'vue';

const items = Array.from({ length: 20 }).map((_, i) => `Item - ${i}`);

export default Vue.extend({
  name: 'App',
  data: () => ({
    items
  })
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
